<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- link to main stylesheet -->
			<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" style="color:#999;">home</a></li>
	        		<li><a href="https://drive.google.com/file/d/1Ygoz_zghuYWUgxQzw562Ri04wpPi9pjl/view?usp=sharing" style="color:#999" target="_blank">resume</a></li>
	        		<li><a href="/writing" style="color:#999;">writing</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nicolasyan1997@gmail.com" target="_blank" style="color:#999;">email</a></li>
				<li><a href="https://www.facebook.com/nicolasyan1997" target="_blank" style="color:#999;">facebook</a></li>
				<li><a href="https://www.instagram.com/notnicolasyan" target="_blank" style="color:#999;">instagram</a></li>
	        		<li><a href="https://twitter.com/nicolasyan" target="_blank" style="color:#999;">twitter</a></li>
				<li><a href="https://www.linkedin.com/in/nicolasyan/" target="_blank" style="color:#999;">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
