<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
	        		<li><a href="https://drive.google.com/file/d/1Ygoz_zghuYWUgxQzw562Ri04wpPi9pjl/view?usp=sharing" target="_blank">resume</a></li>
	        		<li><a href="/writing">writing</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nicolasyan1997@gmail.com">email</a></li>
				<li><a href="https://www.facebook.com/nicolasyan1997">facebook</a></li>
				<li><a href="https://www.instagram.com/notnicolasyan">instagram</a></li>
	        		<li><a href="https://twitter.com/nicolasyan">twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
